<div class="row">
  <div class="movie-title">{{movie_title}}
  </div>
  <p class="movie-descrip">{{description}}
  </p>
  <span class="movie-genre">{{genre}}
  </span>
  <span class="movie-year">{{year}}
  </span>
</div>