<div class="row">
  <div class="movie-title">Title: {{movie_title}}
  </div>
  <p class="movie-descrip">Plot: {{description}}
  </p>
  <span class="movie-genre">Genre: {{genre}}
  </span>
  <span class="movie-year">Released: {{year}}
  </span>
</div>