<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a8c6a3430b.js" crossorigin="anonymous"></script>
    <title>Project 2, Team 1</title>
</head>

<body>
    <div class="flex-container" id="nav-container">
        <div class="navbar d-flex justify-content-between">

            <h1>
                <a href="/" id="title">My Movie List</a>
            </h1>

            <form action="" id="userSearchForm">
                <label for="userSearchForm">Search for a user</label>
                <input type="text" id="user-search" />
                <button type="submit" id="search-btn" class="btn">Search!</button>
            </form>
            {{#if loggedIn}}
            <ul id="navLinks">
                <a href="/profile" class="btn" id="profPageNavLink">Profile Page</a>
                <a class="btn" href="/" id="moviesNavLink">Movies</a>
                <a class="btn" id="logout">logout</a>
            </ul>
            {{else}}
            <ul id="navLinks">
                <a href="/" class="btn">Movies</a>
                <a href="/login" class="btn">Login or Sign Up!</a>
            </ul>
            {{/if}}

        </div>
    </div>


    <main>
            {{{ body }}}
    </main>

    {{!-- <section id="ten33">
        <div class="card-body" id="ten33">
            <h3>Help Us Grow!</h3>
            <p id="user-count">Total Users: 1000</p>
            <p id="list-count">Total Lists:</p>
            <p id="movies-count">Total Movies: 10000000</p>
        </div>

        <form action="" id="userSearchForm">
            <label for="userSearchForm">Search for a user</label>
            <input type="text" id="user-search" />
            <button type="submit" id="search-btn" class="btn">Search!</button>
        </form>

    </section> --}}




    <footer>

        <div class="row" id="squad-links">
            <div class="col">
                <a href="https://github.com/jbryant4" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://github.com/jbryant4" target="_blank" rel="noopener noreferrer">
                    <p class="groupOneRules">Joseph</p>
                </a>
            </div>

            <div class="col">
                <a href="https://github.com/kwerrell73" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://github.com/kwerrell73" target="_blank" rel="noopener noreferrer">
                    <p class="groupOneRules">Kellie</p>
                </a>
            </div>

            <div class="col">
                <a href="https://github.com/lilyhi" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://github.com/lilyhi" target="_blank" rel="noopener noreferrer">
                    <p class="groupOneRules">Lily</p>
                </a>
            </div>

            <div class="col">
                <a href="https://github.com/pablodlc" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://github.com/pablodlc" target="_blank" rel="noopener noreferrer">
                    <p class="groupOneRules">Pablo</p>
                </a>
            </div>
        </div>

    </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>


</html>