<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>Project 2, Team 1</title>
</head>

<body>
    <nav class="navbar">


        <h1 id="title">
            <a href="/" id="title">My Movie List</a>
        </h1>



        {{#if loggedIn}}
        <form>
            <label for="userSearchForm"  id="search-err"></label>
            <input type="text" id="user-search" placeholder="Search for User"/>
            <button type="submit" id="usersearch-btn">Search!</button>
        </form>

        <div id="loggedInNavBtns">
            <a class="btn" href="/profile" id="profPageNavLink">Profile Page</a>
            <a class="btn" href="/" id="moviesNavLink">Movies</a>
            <a class="btn" id="logout">logout</a>
        </div>
        
        {{else}}
        <div id="loggedOutNavBtns">
            <a href="/" class="btn">Movies</a>
            <a href="/login" class="btn">Login or Sign Up!</a>
        </div>
        {{/if}}

    </nav>


    <main>
        {{{ body }}}
    </main>






    <footer class="mt-auto">
        <p>Thanks for visiting!</p>
    </footer>
    

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/usersearch.js"></script>
    {{/if}}
</body>

</html>
