<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>Project 2, Team 1</title>
</head>

<body>

    <header>
        <nav class="navbar justify-content-between">

            <h1>
                <a href="/" id="title">myMovieList!</a>
            </h1>

            {{#if loggedIn}}
            <ul>
                <label for="userSearchForm">Search for a user</label>
                <input type="text" id="user-search" />

                <button id="userSearch" type="submit">Search!</button>
                <a href="/profile" id="profPageNavLink">Profile Page</a>
                <a href="/" id="moviesNavLink">Movies</a>
                <a id="logout">logout</a>

            </ul>
            {{else}}
            <ul>
                {{!-- I'm assuming here for `listPageBtn` we'll just send the user home if they're not logged in
                --}}
                <a href="/" class="btn">Movies</a>
                <a href="/login" class="btn">Login or Sign Up!</a>
            </ul>
            {{/if}}

        </nav>
    </header>

    <main>
        <div class="container">
            {{{ body }}}
        </div>
    </main>

    <footer class="text-align-center">
        <p>Thanks for visiting!</p>
    </footer>

    {{#if loggedIn}}
    
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/usersearch.js"></script>
    
    
    {{/if}}
</body>

</html>