<div class="flex-container" id="homepageContainer">

    <div class="flex-row" id="hugCard">

        <div class="card text-center">
            <div class="card-body">
                <h3>Help Us Grow!</h3>
                <p id="user-count">Total Users: {{totals.user}}</p>
                <p id="list-count">Total Lists: {{totals.list}}</p>
                <p id="movies-count">Total Movies: {{totals.movie}}</p>
            </div>
        </div>


    </div>

    <div class="flex-row" id="recsList">

        <h3>Current Recs</h3>

        <div class="listCards">
            {{#each lists as |list|}}
            <div class="card recent-list-card">
            {{> list-info list}}
            </div>
            {{/each}}
        </div>
        
    </div>




    <div class="flex-row" id="pops">
        <h3>Top of the Pops!</h3>
        <div class="listCards">
            {{#each voted as |list|}}
            <div class="card recent-list-card">
            {{> list-info list}}
            </div>
            {{/each}}
        </div>
    </div>

</div>