<div class="row">



    <div class="col-3">
        <div class="card text-center" id="hugCard">
            <div class="card-body">
                <h3>Help Us Grow!</h3>
                <p id="user-count">Total Users:</p>
                <p id="list-count">Total Lists:</p>
                <p id="movies-count">Total Movies:</p>
            </div>


        </div>
    </div>

    <div class="col">
        <h3>Current Recs</h3>
        <div class="listCards">
            {{#each lists as |list|}}
            {{> list-info list}}
            {{/each}}
        </div>
    </div>

    <div class="col">
        <h3>Top of the Pops!</h3>
        <div class="listCards">
            {{#each lists as |list|}}
            {{> list-info list}}
            {{/each}}
        </div>

    </div>

</div>