{{!-- this is the list page displayed when a user is viewing another users list page --}}

<div class="row">

<div class="col-7">
  <div class="card">
    <div class="card-header">
      Likes: {{list.vote_count}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Movie List</h5>
      {{!-- Loop through the movie list --}}
      {{#each list.movies as |movie|}}
      {{!-- call the partials for each movie--}}
        {{> movie-info movie}}
      {{/each}}
      </div>
  </div>
</div>

<div class="col-5">
  <div class="card">
    
    <div class="card-body">
      {{#each list.comments as |comment| }}
      {{!-- List of comments  --}}
      {{> comments  comment}}
      {{/each}}
      </div>
      <div>
        <input type="text" placeholder="Leave a comment" />
        <button type="submit" id="comment-btn">Comment</button>
      </div>
  </div>

</div>


</div>