<div class="row">

    <div class="col-sm-12 col-md-4">
        <div class="card" id="loginSignup">
            <h3 class="card-title list-h3">Login!</h3>
            <form class="login-form">
                <div>
                    <label for="email-login">email:</label>
                    <input type="text" id="email-login" />
                </div>
                <div>
                    <label for="password-login">password:</label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button type="submit">login</button>
                </div>
            </form>

            <h3 class="card-title list-h3">Sign Up!</h3>
            <form class="signup-form">
                <div>
                    <label for="username-signup">username:</label>
                    <input type="text" id="username-signup" />
                </div>
                <div>
                    <label for="email-signup">email:</label>
                    <input type="text" id="email-signup" />
                </div>
                <div>
                    <label for="password-signup">password:</label>
                    <input type="password" id="password-signup" />
                </div>
                <div>
                    <button type="submit">sign up</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col col-sm-12 col-md-8">
        <div class="row">
            <div class="card mx-auto" id="welcomeCard">
                <h3 class='list-h3'>Welcome to My Movie List!</h3>
                <p>Watch this video to get started!</p>
            </div>
        </div>
        <div class="row">
            <div class="video mx-auto">
                <img src="/images/popcorn.gif" id="popcorn" />
            </div>
        </div>
    </div>

    <script src="/javascript/login.js"></script>
</div>