<div class="row">

    <div class="col-3">

        <div class="card" id="newList">
            <div class="card-body">
                <h3>Create a new list</h3>
                <br />
                <input type="text" id="new-list" placeholder="Enter a new list" />  
                <br />
                <button type="submit" id="search-btn">Add!</button>
            </div>
        </div>

    </div>

    <div class="col-6">
        <div class="card" id="listCard">
            <h3>My Movie Lists</h3>
            <ol class="list-list">
                {{#each lists as |list|}}
                <li>
                    {{> list-info list}}
                </li>
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="col-3">

        <div class="card" id="following">
            <div class="card-body">
                <h3>Following:</h3>
                <br />
                <ul>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                  <li><a href=""></a></li>
                </ul>
            </div>
        </div>

    </div>


</div>